<<<<<<< HEAD
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto';
    background: rgb(33, 33, 44);
}

.containerNav {
    background-image: url("img/bgNav.png") ;
    opacity: 0.9;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 120%;
}

.containerNav ul li {
    display: inline-block;
    padding: 0 15px 0 0;
}

.content {
    color: white;
    width: 100%;
    height: 420px;
    background-image: url("img/bgNav.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sContent {
    color: white;
    width: 100%;
    height: 420px;
    background-image: url("img/bgNav.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sContento {
    color: white;
    width: 100%;
    height: 420px;
    background-image: url("img/bgNav.png");
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.pic {
    border-radius: 50%;
    position: relative;
    top: 42px;
    border: 6px solid white;
}

.text_in_content {
    text-align: center;
    font-size: 130%;
    position: relative;
    top: 22px;
}

.description {
    font-family: 'Varela';
    font-size: 135%;
    text-align: center;
    position: relative;
    top: -70px;
}

.descriptionto {
    font-family: 'Varela';
    font-size: 135%;
    text-align: center;
    position: relative;
    top: 20px;
}

h3 {
    font-family: 'Varela';
    position: relative;
    top: -25px
}

.line_pic {
    size: 5px;
}

.line_pics {
    size: 5px;
    position: relative;
    top: 100px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    opacity: 1;
}

a:hover {
    opacity: 0.6;
}

.boxed_text {
    text-align: center;
    width: 250px;
    height: 60px;
    padding: 1px 10px 1px 5px;
    font-family: 'Varela';
    display: inline-block;
    color: #1b262c;
    background-color: white;
}

.boxed_textt {
    text-align: center;
    width: 360px;
    height: 60px;
    padding: 1px 10px 1px 5px;
    font-family: 'Varela';
    display: inline-block;
    color: #1b262c;
    background-color: white;
    po
}

.boxed_texto {
    text-align: center;
    width: 550px;
    height: 60px;
    padding: 1px 10px 1px 5px;
    font-family: 'Varela';
    display: inline-block;
    color: #1b262c;
    background-color: white;
}

.boxed {
    position: relative;
    top: -12px;
}

.containerDesc {
    font-family: 'Varela';
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
}

.containerDesc div {
    margin: 5px;
    padding: 0 10px 0 10px;
    display: inline-block;
    background-color: violet;
    opacity: 1;
    transition: 0.1s;
}

.containerDesc div:hover {
    color: #1b262c;
    background-color: white;
}

.sContents {
    color: white;
    width: 100%;
    height: 420px;
    background-image: url("img/bgNav.png");
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerDescPic {
    font-family: 'Varela';
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
}
.containerDescPic div {
    margin: 5px;
}
.containerDescPic div img {
    height: 100px;
    width: 100px;
    background-image: inherit;
    transition: 0.7s;
    border-radius: 100%;
}

.containerDescPic div img:hover {
   border-radius: 50%;
   background-color: white;
}

.containerDescPic a {
    opacity: 1;
}

#notfound {
    background-image: url("img/bgNav.png");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela';
    color: #1b262c;
}

#notfound .contentNotFound {
    text-align: center;
    display: block;
    background: white;
    position: relative;
    top: 400px;
    padding: 5px 15px 5px 15px;
=======

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    color: white;
}

.profile img {
    width: 50px;
    height: auto;
    position: relative;
    top: 14px;
}

nav {
    width: 100%;
    background-image: url("images/bodyBackgroundRev.png");
    display: block;
    top: 0;
}
nav ul {
    text-align: right;
    margin: 0;
    padding: 0;
}
nav ul li {
    color: white;
    display: inline-block;
    padding: 0 40px 0 0;
    position: relative;
    right: 40px;
}

#home {
    text-align: center;
    background-image: url("images/bodyBackgroundRev.png");
    background-size: 100%;
    font-size: 150%;
    height: 1500px;
    display: inline-block;
    width:100%;
    position: auto;
    margin: 0;
    padding: 0;
}

footer {
    background-image: url("images/bodyBackgroundRev.png");
    height: 50px;
    width: 100%;
    text-align: center;
}
footer div {
    color: white;
}
footer div ul {
    list-style-type: none;
}
footer div ul li {
    position: relative;
    top: 15px;
    display: inline-block;
    font-size: 120%;
}
#info {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: white;
    height: 1000px;
    display: inline-block;
    width:100%;
    font-size: 200%;
    position: auto;
    top: 900px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clickable {
    color: #152127;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.3s;
}
.clickable:hover {
    opacity: 1;
}

.navClickable a {
    opacity: 1;
    transition: 0.3s;
}
.navClickable a:hover {
    opacity: 0.6;
}


.coolThing {
    position: fixed;
    bottom: 5px;
    color: black;
}

.pesan {
    padding: 15%;
}
.white {
    color: #152027;
    position: relative;
    top: 120px;
}
#pesanSalam {
    font-family: Arial, Helvetica, sans-serif;
    color: #152127;
    background: white;
    display: inline-table;
    padding: 1px 5px;
}
/* changeBg.html */
#changeBg {
    color: black;
    background: white;
>>>>>>> 2e26b08b5273257c3ab16e87a4d7effd8ab40610
}